.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: px2rem(50px);
  border-bottom: 1px solid #b6b6b6;
  background-color: rgba(246, 246, 246, 0.95);
  .btn-item {
    flex: 1;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tab-icon {
      margin-bottom: 4px;
      width: px2rem(25px);
      height: px2rem(25px);
      background-size: cover;
    }
    &.my {
      .tab-icon {
        background-image: url('./img/myIcon.png');
      }
    }
    &.my.active {
      .tab-icon {
        background-image: url('./img/myIconActive.png');
      }
    }
    &.order {
      .tab-icon {
        background-image: url('./img/orderIcon.png');
      }
    }
    &.order.active {
      .tab-icon {
        background-image: url('./img/orderIconActive.png');
      }
    }
    &.home {
      .tab-icon {
        background-image: url('./img/homeIcon.png');
      }
    }
    &.home.active {
      .tab-icon {
        background-image: url('./img/homeIconActive.png');
      }
    }
  }
}